# Elexis database connection settings
server=praxisserver
port=3306
user=praxisteam
password=elexisusers
database=elexis

# Where to store output files
output="./data"

# Which handlers to run:
handlers=omnivore,briefe,kons,lucinda,labor,vaccs,befunde,medication

# Path to documents (needed for lucinda and other directory-based documents stores)
documents=/home/user/Berichte

# If you use the Befunde handler, specify which groups to export in which order
# (comma-separated, no spaces, leave empty to export all)
befunde.export=gewicht,bd,ekg,röntgen,quick


